<div class="container">
  <div class="head">
    <img src="assets/logo.PNG" width="40%">
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="foot">
    <h3>Contacts</h3>
    <a href="tel:+254-772-213-6449"><i class="fa fa-phone"></i>: +254 722 136 449</a><br>
    <a href="tel:+254-710-234-876"><i class="fa fa-whatsapp"></i>: +254 710 234 876</a>
  </div>
</div>
